{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% load static %}

{% block title %}ToDo|Guru - Task List{% endblock %}
{% block content %}
<div class="container">
    <div class="row p-1">
        <!-- Sidebar -->
        <div class="col-md-4 col-lg-3 bg-3 sidebar rounded shadow-sm p-3 mt-4">
            <div class="user-info text-center mb-4">
                {% if user.profile.profile_picture %}
                    <img src="{{ user.Profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle w-75 mb-2" width="100">
                {% else %}
                    <img src="{% static 'images/nobody.jpg' %}" alt="Profile Picture" class="img-thumbnail rounded-circle mb-2" width="100">
                {% endif %}
                <h4>{{ user.username }}</h4>
                <p>{{ user.email }}</p>
            </div>

            <ul class="nav nav-pills mb-3 rounded-pill bg-8" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active rounded-pill w-100" id="pills-sort-tab" data-bs-toggle="pill" data-bs-target="#pills-sort" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sorting</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-pill w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Statistics</button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <!-- Sorting TAB-->
                <div class="tab-pane fade show active" id="pills-sort" role="tabpanel" aria-labelledby="pills-sort-tab" tabindex="0">
                    <div>
                        
                        <form method="get" action="{% url 'list' %}" class="p-1">
                            <h5>Sort Tasks</h5>
                            <div class="form-group mb-2">
                                <label for="sort-select">Sort By</label>
                                <select id="sort-select" name="sort" class="form-control" onchange="this.form.submit()">
                                    <option value="created" {% if request.GET.sort == "created" %}selected{% endif %}>Created Date</option>
                                    <option value="due_date" {% if request.GET.sort == "due_date" %}selected{% endif %}>Due Date</option>
                                    <option value="status" {% if request.GET.sort == "status" %}selected{% endif %}>Status</option>
                                    <option value="category" {% if request.GET.sort == "category" %}selected{% endif %}>Category</option>
                                    <option value="priority" {% if request.GET.sort == "priority" %}selected{% endif %}>Priority</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="direction-select">Direction</label>
                                <select id="direction-select" name="direction" class="form-control" onchange="this.form.submit()">
                                    <option value="asc" {% if request.GET.direction == "asc" %}selected{% endif %}>Ascending</option>
                                    <option value="desc" {% if request.GET.direction == "desc" %}selected{% endif %}>Descending</option>
                                </select>
                            </div>
                            <h5 class="mt-3">Filter Tasks</h5>
                            <div class="form-group mb-2">
                                <label for="status-filter">Status</label>
                                <select id="status-filter" name="status" class="form-control" onchange="this.form.submit()">
                                    <option value="" {% if request.GET.status == "" %}selected{% endif %}>All</option>
                                    <option value="P" {% if request.GET.status == "P" %}selected{% endif %}>Pending</option>
                                    <option value="IP" {% if request.GET.status == "IP" %}selected{% endif %}>In Progress</option>
                                    <option value="C" {% if request.GET.status == "C" %}selected{% endif %}>Completed</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="category-filter">Category</label>
                                <select id="category-filter" name="category" class="form-control" onchange="this.form.submit()">
                                    <option value="" {% if request.GET.category == "" %}selected{% endif %}>All</option>
                                    <option value="W" {% if request.GET.category == "W" %}selected{% endif %}>Work</option>
                                    <option value="P" {% if request.GET.category == "P" %}selected{% endif %}>Personal</option>
                                    <option value="H" {% if request.GET.category == "H" %}selected{% endif %}>Home</option>
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="priority-filter">Priority</label>
                                <select id="priority-filter" name="priority" class="form-control" onchange="this.form.submit()">
                                    <option value="" {% if request.GET.priority == "" %}selected{% endif %}>All</option>
                                    <option value="L" {% if request.GET.priority == "L" %}selected{% endif %}>Low</option>
                                    <option value="M" {% if request.GET.priority == "M" %}selected{% endif %}>Medium</option>
                                    <option value="H" {% if request.GET.priority == "H" %}selected{% endif %}>High</option>
                                </select>
                            </div>
                            
                            {% comment %} <button type="submit" class="btn btn-primary w-100">Apply</button> {% endcomment %}
                        </form>
                    </div>
                </div>
                <!-- Statistics TAB-->
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <h5>Tasks Statistics</h5>
                    <ul class="list-group mb-2">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between mb-1">
                                <span>Total Tasks:</span>
                                <span class="badge text-bg-primary">{{ tasks.count }}</span>
                            </div>
                        </li>
                    </ul>
                    <h6>Status</h5>
                    <ul class="list-group mb-2">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>Completed</span>
                                <span class="badge text-bg-success">{{ completed_tasks }}</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>In Progress:</span>
                                <span class="badge text-bg-warning">{{ in_progress_tasks }}</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>Pending:</span>
                                <span class="badge bg-danger rounded-pill">{{ pending_tasks }}</span>
                            </div>
                        </li>
                    </ul>
                    <h6>Priority</h5>
                    <ul class="list-group mb-2">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>Low:</span>
                                <span class="badge text-bg-success">{{ low_priority_tasks }}</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>Medium:</span>
                                <span class="badge text-bg-warning">{{ medium_priority_tasks }}</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <span>High:</span>
                                <span class="badge bg-danger">{{ high_priority_tasks }}</span>
                            </div>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
        <!-- Main Content -->
        <div class="col-md-8 col-lg-9">
            <h2 class="m-4">Tasks List</h2>
            <!-- Messages -->
            <div class="container mt-3">
                {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-new-task"
                    data-bs-toggle="modal"
                    data-bs-target="#new-task">
                <i class="fa-solid fa-plus"></i>
            </button>
            <!-- Modal -->
            <div class="modal fade modal-xl"
                 id="new-task"
                 tabindex="-1"
                 aria-labelledby="new-task-label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title text-center fs-5" id="new-task-label">Create New Task</h1>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'create_task' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form.title|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form.due_date|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form.priority|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form.category|as_crispy_field }}
                                    </div>
                                    <div class="col-12">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-custom-4" data-bs-dismiss="modal">Close</button>
                                <input type="submit" value="Create Task" class="btn btn-custom-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="m-4">
                <div class="accordion accordion-flush" id="tasks-accordion">
                    {% for t in tasks %}
                        <div class="accordion-item border-0">

                            <h2 class="accordion-header colors">
                                <button class="m-0 my-1 accordion-button collapsed shadow-sm container-fluid "
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse{{ t.id }}"
                                        aria-expanded="false"
                                        aria-controls="flush-collapse{{ t.id }}">
                                    <div class="row w-100">
                                        <span class="col-lg-5 ps-4">{{ t.title }}</span>
                                        {% if t.status == "P" %}
                                            <span class="col-lg-3 d-none d-lg-inline text-center"><span class="status status-p"><i class="fa-solid fa-exclamation-circle text-danger me-2 "></i>{{ t.get_status_display }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                        {% elif t.status == "IP" %}
                                            <span class="col-lg-3 d-none d-lg-inline text-center"><span class="status status-ip"><i class="fa-solid fa-exclamation-triangle text-warning me-2"></i>{{ t.get_status_display }}</span></span>
                                        {% elif t.status == "C" %}
                                            <span class="col-lg-3 d-none d-lg-inline text-center"><span class="status status-c"><i class="fa-solid fa-check-circle text-success me-2"></i>{{ t.get_status_display }}</span></span>
                                        {% endif %}
                                        <span class="col-lg-4 text-end d-none d-lg-inline"><i class="fa-solid fa-calendar-days"></i> {{ t.time_until_due|format_timedelta_days }} - <i class="fa-solid fa-clock"></i> {{ t.time_until_due|format_timedelta_hours }}</span>

                                    </div>
                                </button>
                            </h2>

                            <div id="flush-collapse{{ t.id }}"
                                 class="accordion-collapse collapse"
                                 data-bs-parent="#tasks-accordion">
                                <div class="bg-1 m-0 accordion-body pb-2 row shadow-sm">
                                    {% if t.description %}
                                        <div class="col-lg-12">
                                            <div class="card bg-8 rounded">
                                                <div class="card-body p-2">    
                                                    <h5 class="card-title">Description</h5>
                                                    <p>{{ t.description|safe }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="col-lg-12">
                                        <div class="row">
                                            
                                                <div class="col-12 text-end mt-2 p-0">
                                                    <a href="{% url 'update_task' t.id %}" class="btn btn-primary rounded-5 col">Update</a>
                                                    <button type="button"
                                                            class="btn btn-danger rounded-5 col"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#deleteModal"
                                                            data-task-id="{{ t.id }}"
                                                            data-task-title="{{ t.title }}">Delete</button>
                                                </div>

                                            <div class="col-12 bg-1 xm-1 pt-2 rounded hover-card">
                                                <div class="row">
                                                    <div class="content col-8">

                                                        <div class="default-content bg-1">
                                                            <span>
                                                                <span class="">Time Until Due: </span>
                                                                {% comment %} <i class="fa-solid fa-calendar-days"></i> {{ t.time_until_due|format_timedelta_days }} {% endcomment %}
                                                                {% comment %} <i class="fa-solid fa-clock"></i> {{ t.time_until_due|format_timedelta_hours }} {% endcomment %}
                                                            </span>
                                                        </div>

                                                        <div class="hover-content bg-1">
                                                            <span>
                                                                <span class="">Date Until Due: </span>
                                                                <i class="fa-solid fa-calendar-days"></i> {{ t.due_date|date:"d-m-y" }}
                                                                <i class="fa-solid fa-clock"></i> {{ t.due_date|date:"H:i" }}
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <form method="post" action="{% url 'complete_task' t.id %}" class="text-end col-4 p-0">
                                                        {% csrf_token %}
                                                        <label for="completed-{{ t.id }}">Complete</label>
                                                        <input type="checkbox" id="completed-{{ t.id }}" name="completed" onchange="this.form.submit()" {% if t.status == 'C' %}checked{% endif %}>
                                                    </form>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade"
     id="deleteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Task</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the task "<span id="taskTitle"></span>"?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Confirm Delete" class="btn btn-danger">
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var taskId = button.data('task-id') // Extract info from data-* attributes
    var taskTitle = button.data('task-title') // Extract info from data-* attributes

    var modal = $(this)
    modal.find('#taskTitle').text(taskTitle)
    modal.find('#deleteForm').attr('action', '{% url "delete_task" 0 %}'.replace('0', taskId))
})

$('#deleteForm').on('submit', function (event) {
    event.preventDefault();
    var form = $(this);
    var actionUrl = form.attr('action');
    $.ajax({
        type: 'POST',
        url: actionUrl,
        data: form.serialize(),
        success: function (response) {
            if (response.success) {
                $('#deleteModal').modal('hide');
                $('#task-' + actionUrl.split('/').slice(-2, -1)).remove();
            }
        }
    });
});
</script>
{% endblock %}