:root {
  --fg: #333;
  --bg: #ecebeb;

  --yellow-pastel: #faedcb;
  --yellow-pastel-dark: #e2d7ba;

  --green-pastel: #c9e4de;
  --green-pastel-dark: #bddbd4;

  --blue-pastel: #c6def1;
  --blue-pastel-dark: #9cc5e7;
  --blue-pastel-light: #f3e9ddea;

  --purple-pastel: #dbcdf0;
  --purple-pastel-dark: #d2c5e6;

  --pink-pastel: #f2c6de;
  --orange-pastel: #eec6aa;

  --red-pastel: #ffa4a4;
  --red-pastel-dark: #ed8484;

  --red: #e12a2a;
  --green: #22d25f;
  --blue: #3273cf;

  --shadow: 0 0 9px rgba(0, 0, 0, 0.233);
}

/* Custom Classes */
/* Background colors */
.bg-1 {
  background-color: var(--yellow-pastel);
}
.bg-2 {
  background-color: var(--green-pastel);
}
.bg-3 {
  background-color: var(--blue-pastel);
}
.bg-4 {
  background-color: var(--purple-pastel);
}
.bg-5 {
  background-color: var(--pink-pastel);
}
.bg-6 {
  background-color: var(--orange-pastel);
}
.bg-7 {
  background-color: var(--red-pastel);
}
.bg-8 {
  background-color: var(--bg);
}
.bg-9 {
  background-color: var(--blue-pastel-light);
}
/* Foreground Colors */
.fg-1 {
  color: var(--yellow-pastel);
}
.fg-2 {
  color: var(--green-pastel);
}
.fg-3 {
  color: var(--blue-pastel);
}
.fg-4 {
  color: var(--purple-pastel);
}
.fg-5 {
  color: var(--pink-pastel);
}
.fg-6 {
  color: var(--orange-pastel);
}
.fg-7 {
  color: var(--red-pastel);
}
/* brand Colors */
.brand-1 {
  color: #00d74b;
}
.brand-2 {
  color: #f31d1d;
}
.brand-3 {
  color: var(--fg);
}
.brand-4 {
  color: #006aff;
}

/* Buttons */
.btn-new-task {
  background-color: var(--green-pastel);
  color: var(--fg);
  border: 0;
  border-radius: 50%;
  box-shadow: var(--shadow);
  /* padding: 8px 16px;
  margin: 8px; */
  width: 50px;
  height: 50px;
  font-size: 24px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}
.btn-new-task:hover {
  background-color: #c6def1;
  color: white;
}
.btn-custom-1 {
  background-color: white;
  color: var(--fg);
  border: 0;
  border-radius: 50px;
  box-shadow: var(--shadow);
  padding: 8px 16px;
  margin: 8px;
  font-weight: 300;
}
.btn-custom-1:hover {
  background-color: var(--fg);
  color: white;
}
.btn-custom-2 {
  background-color: var(--fg);
  color: white;
  border: 0;
  border-radius: 50px;
  box-shadow: var(--shadow);
  padding: 8px 16px;
  margin: 8px;
  font-weight: 300;
}
.btn-custom-2:hover {
  background-color: white;
  color: var(--fg);
}
.btn-custom-3 {
  background-color: var(--blue);
  color: white;
  border: 0;
  border-radius: 50px;
  box-shadow: var(--shadow);
  padding: 8px 16px;
  margin: 8px;
  font-weight: 300;
}
.btn-custom-3:hover {
  background-color: white;
  color: var(--fg);
}
.btn-custom-4 {
  background-color: var(--red);
  color: white;
  border: 0;
  border-radius: 50px;
  box-shadow: var(--shadow);
  padding: 8px 16px;
  margin: 8px;
  font-weight: 300;
}
.btn-custom-4:hover {
  background-color: white;
  color: var(--fg);
}
.btn-custom-5 {
  background-color: var(--green);
  color: white;
  border: 0;
  border-radius: 50px;
  box-shadow: var(--shadow);
  padding: 8px 16px;
  margin: 8px;
  font-weight: 300;
}
.btn-custom-5:hover {
  background-color: white;
  color: var(--fg);
}

/* General */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
main {
  padding-top: 56px;
  min-height: calc(100vh - 48px);
}
section {
  height: 500px;
}
#cta {
  height: 350px;
}
/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;

  /* left: 0; */
  top: 0;
}

/* Card */
.due-hour,
.due-min {
  margin-bottom: -7px;
  margin-top: -5px;
}
/* Accordion */
.accordion-button {
  background-color: var(--green-pastel);
  color: var(--fg);
  border: 0;
  border-radius: 50px !important;
  /* box-shadow: 0 0 9px rgba(0, 0, 0, 0.233); */
  margin: 8px;
  padding: 8px;
  /* display: flex; */
  /* align-items: center; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.accordion-button::after {
  content: '';
  margin-left: 10px;
  margin-right: 5px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  border-radius: 15px;
}
/* Forms */
.forms-container {
  padding: 24px;
}
input,
select {
  border: 0;
  border-radius: 50px !important;
  padding: 8px 16px;
  margin: 8px;
  box-shadow: var(--shadow);
  /* outline: none;
  border: 0; */
}
/* input:hover,
select:hover,
textarea:hover {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.354);
  outline: none;
  border: 0;
} */
/* input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.354) !important;
  outline: none;
  border: 0;
} */
/* input:active,
select:active,
textarea:active {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.354);
  outline: none;
  border: 0;
} */

textarea {
  border: 0;
  border-radius: 12px;
  padding: 8px 16px;
  margin: 8px;
  box-shadow: var(--shadow);
}
form {
  /* display: flex; */
  /* flex-direction: column; */

  /* align-items: center; */

  padding: 16px;
  /* margin: 16px; */
  border-radius: 15px;
  /* box-shadow: var(--shadow); */
  /* background-color: var(--bg); */
}
button form,
button form input {
  padding: 0;
  margin: auto;
}
/* Footer */
footer a {
  color: white;
}
@media (max-width: 576px) {
  main {
    text-align: center !important;
  }
  section {
    height: 750px;
  }
}
@media (max-width: 768px) {
  section {
    height: 750px;
  }
}
@media (max-width: 992px) {
  section {
    height: 750px;
  }
}

/* CSS CARDS */
